{{!< default}}

    {{! Each post will be output using this markup }}
    {{#foreach posts}}
    
    <div class="blog-post {{post_class}}">
			<h2 class="blog-post-title"><a href="{{url}}">{{{title}}}</a></h2>
			<p class="blog-post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMM DD YYYY"}}</time> // {{tags}}</p>
			{{! #if @first}}
				<p>{{excerpt}}&hellip;</p>
				<p><a class="read-more" href="{{url}}">Read more &raquo;</a></p>
    	{{! /if}}
		</div><!-- /.blog-post -->

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}