{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{#post}}
<div class="blog-post {{post_class}}">
	<h2 class="blog-post-title"><a href="{{url}}">{{{title}}}</a></h2>
	<p class="blog-post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMM DD YYYY"}}</time> // {{tags}}</p>

	{{content}}
	
	<div class="well">Thoughts? Questions? Send me <a href="http://twitter.com/oddevan">a tweet</a>, <a href="http://paperairplanemob.tumblr.com/ask">an ask</a>, or <a href="mailto:me@eph.me">an email</a>.</div>
</div><!-- /.blog-post -->
{{/post}}